<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Introduction</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">

        <div class="col-xs-12" align="justify">
            <h2>paragraph 1</h2>
        </div>


    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 text-center m-t-lg ">
            <h2><span> <i>main research question</i></span></h2>

        </div>
        <div class="col-xs-2  m-t-lg" style="margin-bottom: 15px;">
            <img src="{{ site.author.avatar | prepend: site.baseurl }}"
             style="transform:rotate(10deg);"
             height="90" width="90" class="img-responsive img-circle" alt="">
             <span style="margin-left: 10px;">little</span>
                <br>
            <span style="margin-left: 10px;">slogan</span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>elaboration.</h2>
        <h2>paragraph 2
        </h2>
        </div>
    </div>

</div>

