<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Part 2</span></h1>
        </div>
    </div>

    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3 m-b-lg">
            <canvas id="{{ site.data.index.skills.id }}" height="500" width="600"></canvas>
        </div>
        <div class="col-lg-1"></div>

        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        
        var data = {
            labels: ['sports', 'fun', 'transportation', 'health', 'cooking',
                'technology', 'government', 'covid', 'business & economics',
                'environment', 'literacy'],
            datasets: [
                {
                data: [88, 60, 51, 50, 46, 36, 28, 20,  8,  8,  4],
                backgroundColor: ['#bc80bd', '#ccebc5', '#d9d9d9', '#80b1d3', '#b3de69', '#fdb462',
                '#bebada', '#8dd3c7', '#fccde5', '#fb8072', ' #ffffb3'],
                },
            
            ]
        };
        var config = {
                type: 'horizontalBar',
                data: data,

                options: {
                    indexAxis: 'y',

                    legend: {
                        display: false
                    },

                    title: {
                        display: true,
                        text: 'Most discussed topics on Twitter in France'
                    }, 
                    responsive: true, 
                    
                    scales: {
                        xAxes: [
                            {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Intensity of the topic',
                                }
                            }
                        ]
                    }
                
                }

        }; 

        var configOld = {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        };

        var myRadarChart = new Chart(ctx, config);
        </script>


    </div>


</div>
