<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Did they warn us? </span></h1>
        </div>
    </div>

     <!-- Intro to task -->
     <div class="row">
        <div class="col-xs-12 m-b-lg m-t-lg" align="justify">
            <h2>We notice that the attention shown by a country is not only quantifiable through mere numbers (e.g., number of visits health-related Wikipedia pages received or number of tweets containing the word 'covid'). This is why we are aware that the words people choose to use online can be a useful tool for understanding a country's concerns. Therefore, in order to better understand how each country responded to the exceptional situation, we suggest analyzing tweets from influential people (influencers, politicians, celebrities). Influential people in each nation either used COVID-19 related hashtags and terms to alert the population or they chose to remain silent and disregard the crisis. Did the language they choose have an impact on people's behavior?
            </h2>
        </div>
    </div>


     <!-- Topics -->
    <div class="row m-t-lg" >
        <div class="col-lg-12 text-center" style="padding-bottom:20px;">
            {% for country in site.data.index.part1.countires %}
                {% assign loopindex = forloop.index0  %}
                    <button class="btn btn-secondary" style="border-color: lightgrey;border-width: 2px;margin-top: 2px;"
                    onclick="changePlot3({{loopindex}})">
                        {{country}}</button>
            {% endfor %}
        </div>

        <div class="col-xs-6 col-md-6 m-t-lg" style="text-align: center;">
            <canvas id="{{ site.data.index.part2.plotTopics }}" height="500" width="600"></canvas>
        </div>

        <div class="col-xs-5 col-md-5 m-t-lg" style="text-align:center;padding-top: 4%;">
            <img id= "plotWords" src="" style="width: 120%; " alt="">
        </div>

    <script>
        var myChart3 = null;

        var pics = ['word-cloud FR.jpeg', 'word-cloud DK.jpeg', 'word-cloud DE.jpeg', 'word-cloud IT.jpeg',
                    'word-cloud NL.jpeg', 'word-cloud NO.jpeg', 'word-cloud SE.jpeg', 'word-cloud RS.jpeg', 
                    'word-cloud FI.jpeg', 'word-cloud KO.jpeg', 'word-cloud CA.jpeg', 'word-cloud JA.jpeg'];
    
        var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                        'Finland', 'Korea', 'Canada', 'Japan'];

        var allLabels3 = [
            ['government', 'health', 'sports', 'transportation', 'technology','business & economics', 'fun', 'covid', 'cooking', 'environment', 'literacy'],
            ['transportation', 'health', 'government', 'sports', 'fun', 'technology', 'covid', 'business & economics', 'cooking', 'environment', 'literacy'],
            ['government', 'health', 'technology', 'sports', 'transportation', 'business & economics', 'covid', 'cooking', 'fun', 'literacy', 'environment'],
            ['government', 'health', 'transportation', 'technology', 'sports', 'covid', 'business & economics', 'fun', 'cooking', 'environment', 'literacy'],
            ['transportation', 'technology', 'government', 'health', 'sports','fun', 'business & economics', 'environment', 'covid', 'literacy', 'cooking'],
            ['health', 'technology', 'transportation', 'government', 'covid','sports', 'business & economics', 'fun', 'environment', 'cooking','literacy'],
            ['government', 'health', 'transportation', 'covid', 'technology','sports', 'fun', 'cooking', 'business & economics', 'literacy', 'environment'],
            ['government', 'health', 'transportation', 'sports', 'technology','fun', 'covid', 'business & economics', 'cooking', 'literacy', 'environment'],
            ['sports', 'government', 'transportation', 'health', 'fun','technology', 'covid', 'business & economics', 'cooking','literacy', 'environment'],
            ['fun', 'sports', 'government', 'transportation', 'technology', 'environment', 'business & economics', 'health', 'cooking', 'literacy', 'covid'],
            ['government', 'transportation', 'health', 'business & economics','sports', 'technology', 'fun', 'cooking', 'covid', 'literacy','environment'],
            ['health', 'covid', 'government', 'transportation', 'technology', 'sports', 'business & economics', 'fun', 'cooking', 'literacy', 'environment']
        ];
        var allData3 = [
            [0.27971754, 0.14123186, 0.07767752, 0.0659082 , 0.06198509, 0.04864653, 0.0439388 , 0.02863868, 0.02275402, 0.0145155 , 0.01333856],
            [0.10237131, 0.09196067, 0.08849046, 0.08155003, 0.04337767, 0.04164257, 0.04164257, 0.0242915 , 0.02313476, 0.0092539 , 0.00867553],
            [0.23904689, 0.06917756, 0.06764028, 0.0584166 , 0.05303613, 0.04919293, 0.03996925, 0.02690238, 0.01998463, 0.00845503, 0.00153728],
            [0.15092731, 0.10424217, 0.07439778, 0.07183969, 0.06480495, 0.04327436, 0.03368152, 0.02494138, 0.02067789, 0.01918567, 0.01172458],
            [0.11565952, 0.09551657, 0.08252112, 0.03898635, 0.03281352, 0.0259909 , 0.0237167 , 0.02046784, 0.01851852, 0.01267057, 0.01169591],
            [0.14553015, 0.13555094, 0.13471933, 0.11891892, 0.0960499 , 0.07733888, 0.04823285, 0.02869023, 0.02869023, 0.02453222, 0.00831601],
            [0.16861827, 0.12568306, 0.10226386, 0.07103825, 0.06557377, 0.05620609, 0.03825137, 0.03434817, 0.0234192 , 0.01873536, 0.00702576],
            [0.13453193, 0.08183509, 0.06199628, 0.05269684, 0.05207688, 0.03719777, 0.03719777, 0.01611903, 0.01239926, 0.01115933, 0.00371978],
            [0.20033717, 0.17813993, 0.13458837, 0.1227873 , 0.07867378, 0.07080641, 0.06546783, 0.05872436, 0.03989885, 0.02809778, 0.01854453],
            [0.11375661, 0.08906526, 0.05467372, 0.0361552 , 0.02910053, 0.02733686, 0.02645503, 0.01851852, 0.00793651, 0.00793651, 0.00529101],
            [0.20629371, 0.10889111, 0.08641359, 0.07992008, 0.07267732, 0.06568432, 0.04170829, 0.03771229, 0.03646354, 0.01448551, 0.01198801],
            [0.25828171, 0.25208726, 0.23296526, 0.13277673, 0.13089146, 0.10153515, 0.06032858, 0.03231888, 0.03178023, 0.02639375, 0.00969566]
        ];
        var allColor3 = [
            ['#bebada', '#80b1d3', '#bc80bd', '#d9d9d9', '#fdb462', '#fccde5', '#ccebc5', '#8dd3c7', '#b3de69', '#fb8072', ' #ffffb3'],
            ['#d9d9d9', '#80b1d3', '#bebada', '#bc80bd', '#ccebc5', '#fdb462','#8dd3c7', '#fccde5', '#b3de69', '#fb8072', ' #ffffb3'],
            ['#bebada', '#80b1d3', '#fdb462', '#bc80bd', '#d9d9d9', '#fccde5','#8dd3c7', '#b3de69', '#ccebc5', ' #ffffb3', '#fb8072'],
            ['#bebada', '#80b1d3', '#d9d9d9', '#fdb462', '#bc80bd', '#8dd3c7','#fccde5', '#ccebc5', '#b3de69', '#fb8072', ' #ffffb3'],
            ['#d9d9d9', '#fdb462', '#bebada', '#80b1d3', '#bc80bd', '#ccebc5','#fccde5', '#fb8072', '#8dd3c7', ' #ffffb3', '#b3de69'],
            ['#80b1d3', '#fdb462', '#d9d9d9', '#bebada', '#8dd3c7', '#bc80bd','#fccde5', '#ccebc5', '#fb8072', '#b3de69', ' #ffffb3'],
            ['#bebada', '#80b1d3', '#d9d9d9', '#8dd3c7', '#fdb462', '#bc80bd','#ccebc5', '#b3de69', '#fccde5', ' #ffffb3', '#fb8072'],
            ['#bebada', '#80b1d3', '#d9d9d9', '#bc80bd', '#fdb462', '#ccebc5','#8dd3c7', '#fccde5', '#b3de69', ' #ffffb3', '#fb8072'],
            ['#bc80bd', '#bebada', '#d9d9d9', '#80b1d3', '#ccebc5', '#fdb462','#8dd3c7', '#fccde5', '#b3de69', ' #ffffb3', '#fb8072'],
            ['#ccebc5', '#bc80bd', '#bebada', '#d9d9d9', '#fdb462', '#fb8072', '#fccde5', '#80b1d3', '#b3de69', ' #ffffb3', '#8dd3c7'],
            ['#bebada', '#d9d9d9', '#80b1d3', '#fccde5', '#bc80bd', '#fdb462', '#ccebc5', '#b3de69', '#8dd3c7', ' #ffffb3', '#fb8072'],
            ['#80b1d3', '#8dd3c7', '#bebada', '#d9d9d9', '#fdb462', '#bc80bd', '#fccde5', '#ccebc5', '#b3de69', ' #ffffb3', '#fb8072']
        ];

    function changePlot3(id){
        var ctx = document.getElementById("plotTopics");
        var imgElem = document.getElementById("plotWords");
        imgElem.setAttribute('src', "/4ada_datastory/static/assets/img/landing/hashtags/"+pics[id]);

        var currLabels = allLabels3[id];
        var currData = allData3[id];
        var currColors = allColor3[id];
        var currTitle =  'Most discussed topics on Twitter by influential people in '+ countires[id];
        
        var data = {
            labels: currLabels,
            datasets: [
                {
                data: currData,
                backgroundColor: currColors,
                },
            
            ]
        };
        var config = {
                type: 'horizontalBar',
                data: data,
                options: {
                    legend: { display: false },
                    responsive: true, 
                    title: {
                        display: true,
                        text: currTitle
                    }, 
                    scales: {
                        xAxes: [ {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Intensity of the topic',
                                }
                            }
                        ]}
                }
        }; 
        
        if(myChart3 != null){
            myChart3.destroy();
        }
        myChart3 = new Chart(ctx, config);

   }
   

    var imgElem = document.getElementById("plotWords");

    var ctx3 = document.getElementById("{{ site.data.index.part2.plotTopics }}");  
    imgElem.setAttribute('src', "/4ada_datastory/static/assets/img/landing/hashtags/"+pics[0]);

    
    var data3 = {
        labels:['government', 'health', 'sports', 'transportation', 'technology',
                'business & economics', 'fun', 'covid', 'cooking', 'environment', 'literacy'],
        datasets: [
            {
            data: [0.27971754, 0.14123186, 0.07767752, 0.0659082 , 0.06198509,
                    0.04864653, 0.0439388 , 0.02863868, 0.02275402, 0.0145155, 0.01333856],
            backgroundColor: ['#bebada', '#80b1d3', '#bc80bd', '#d9d9d9', '#fdb462', '#fccde5', 
                            '#ccebc5', '#8dd3c7', '#b3de69', '#fb8072', ' #ffffb3'],
            },
        
        ]
    };
    var config3 = {
            type: 'horizontalBar',
            data: data3,

            options: {
                indexAxis: 'y',

                legend: {
                    display: false
                },

                title: {
                    display: true,
                    text: 'Most discussed topics on Twitter by influential people in France'
                }, 
                responsive: true, 
                
                scales: {
                    xAxes: [ {
                            scaleLabel: {
                                display: true,
                                labelString: 'Intensity of the topic',
                            }
                        }
                    ]}
            }
    }; 

    myChart3 = new Chart(ctx3, config3);

</script>

    </div>

   

     <!-- Concludions to task -->
     <div class="row">
        <div class="col-xs-6 m-t-lg" align="justify">
            <h2>We can see from the charts above that, in most of the countries, the topics most discussed by influential 
                people have been government and health (we notice the highest health score in Japan). 
                A very curious case is that of Korea, which is geographically very close to Japan, but whose influential people talked about everything but covid.
                Notice that, among the influential people we have decided to analyze, there are also politicians. Therefore, for countries showing small health and covid scores, the fact that politicians poorly discussed about COVID-19 may suggest that at the dawn of the pandemic institutions were not yet actively intervening to limit the spread and the consequences of the virus.
            </h2>
        </div>

        <div class="col-xs-6  m-t-lg" align="justify">
            <h2>Moreover, we note the prominent use of COVID-19-related hashtags 
                (such as #coronavirus and #covid), probably used to raise awareness about the pandemic 
                in the population. It is also interesting to note that in some countries, hashtags of
                 resilience and virtual fight against the pandemic were created: for instance, in Germany, 
                 we can observe <span style="font-weight: 450;">#usagainstvirus</span> , while in Serbia we notice 
                 <span style="font-weight: 450;">#stayathome</span>. This suggests that influential people might have  attempted to use their popularity in order to convey messages, alerting people about the imminent danger.</h2>
            
            <!-- <div class="row">
                <div class="col-xs-2 col-xs-offset-9 m-b-sm">
                    <img src="{{ site.author.avatar | prepend: site.baseurl }}"
                     style="transform:rotate(3deg);" height="90" width="100" class=" img-circle" alt="">
                    Hmm... interesting!    
                </div>
            </div> -->
        </div>      
        
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center m-t-lg ">
                <h2><span> <i>"What do we know about different countries? "</i></span></h2>  
                <!-- {{ site.author.desc }} -->
            </div>
            <div class="col-xs-2 " style="margin-bottom: 15px;">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}"
                 style="transform:rotate(10deg);"
                 height="90" width="90" class="img-responsive img-circle" alt="">

                 <span style="margin-left: 10px;">#coronADA</span>
                 
            </div>
        </div>
    

        <div class="col-xs-12 m-b-lg" align="justify">
            <h2> Definitely,  <span style="font-weight: 450;">Italy</span>  is a country where influential people deeply 
                cared to express their thoughts and opinions about the COVID-19. This is understandable,
                 since Italy was in an extremely difficult situation during the early stage of the pandemic. 
                  Both discussed topics and hashtags can confirm it. A similar trend of discussed topics and hashtags
                   can be seen in 
                   <span style="font-weight: 450;">Germany</span>,
                   <span style="font-weight: 450;">France</span>,
                   <span style="font-weight: 450;">Canada</span>,
                   <span style="font-weight: 450;">Italy</span>
                   and <span style="font-weight: 450;">Serbia.</span>
                  The <span style="font-weight: 450;">  Netherlands</span> showed less interest in covid and health-related topics, but transportation topic which can be a sign of mobility discussion is very prominent.  
                
            </h2><h2>Influential people from northern countries 
                (<span style="font-weight: 450;">Norway</span>, 
                <span style="font-weight: 450;">Sweden</span>, 
                <span style="font-weight: 450;">Denmark</span> and
                <span style="font-weight: 450;">Finland</span>) 
                 have a great interest in topics related to government, transportation, and health. But sports and technology are still substantial parts of discussed topics.
            </h2>
               <h2> In <span style="font-weight: 450;">Korea</span> most of the used hashtags are related to boy-bands 
                and music, which perfectly reflects the most discussed topics. The vast majority of 
                influential people are related to entertainment, therefore it is more difficult to actually 
                observe these individuals sharing messages about COVID-19. Notice that this is not a biased result; 
                instead, the great attention these people received in that period is useful metadata to understand
                 the situation going on in Korea at the beginning of the pandemic. Finally,
                  in <span style="font-weight: 450;">Japan</span>, we do not notice any meaningful hashtags even though COVID-19 seems to be a largely discussed topic. This might be due to computational reasons (remember that each tweet has been translated before being used), but it doesn't affect influential people's interest in health and covid topics. 
                </h2>
        </div>

    </div>




</div>
