<div class="container" id="i18_career">

    <!-- Title of section -->
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">Part 1</span></h1>
        </div>
    </div>

    <!-- Intro to task and question -->
    <div class="row">
        <div class="col-xs-12 m-t-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                <h1><span> <i>"What we are asking?"</i></span></h1>  
            </div>
        </div>
    </div>

    <div class="m-b-sm"><br/></div>

    <!-- Radio buttons, chart topics and descritption -->
    <div class="row">

        <!-- Radio buttons -->

        <div class="col-12 col-md-2 m-t-lg" style="position:absolute; padding-top: 3%;">
            <div style="align-items: center;vertical-align: middle;margin-top: 2px;" >
                <div class="form-check">

                    {% for country in site.data.index.part1.countires %}
                        {% assign loopindex = forloop.index0  %}
                    <div>
                        <input type="radio" id={{loopindex}} 
                        name="country" value={{country}} onclick="changePlot()">
                        <label for="RS"> {{ country }} </label><br>
                    </div>
                    
                    {% endfor %}
                   
                </div>
            </div>
        </div>

        <!--Plots-->
        <div class="col-12 col-md-12 col-md-offset-2" style="margin-left: 19%;">
            <div class="row">
                <div class="col-12 col-md-6">
                    <canvas id="{{ site.data.index.part1.plot1 }}" height="500" width="600"></canvas>
                </div>
                <div class="col-12 col-md-5 text-center" style="padding-top: 15%;">
                    <p id="countryText" style="font-size: 16px;text-align: justify;">
                       
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myChart=null;
        

        var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
        'Finland', 'Korea', 'Canada', 'Japan'];

        var countryText = ["France is probably one of the most complex countries to analyse with this kind of plot. Indeed, in the first four topics, there are two COVID-19 related topics (transportation, health) and two completely unrelated topics (fun and sports). Further analyses are needed to discover on which topics France public opinion was focusing.",
            'The only topic in the top four that is related to COVID-19 is transportation. For this country we have a marked predominance of sports topics, whose score is more than 2 times higher than health.',
            'Transportation is the most discussed topic, probably suggesting that warnings and restrictions had been put into effect during the analysed period. As we will show in our further analysis, Germany is the country with the highest “attention score”.',
            ' Italy is the only country where health is the most discussed topic. As a matter of fact, things started to get worse in Italy earlier than in other European countries.Moreover, COVID-19 topic has the highest score in all the 12 analysed countries.',
            'The most discussed topic is sport. Notice that also health and transportation have a high score. This lets us suppose that public attention was shifting to pandemic-related topics. Furthermore, COVID-19 topic has a score higher than business or environment (quite appreciated in Netherlands) and this strengthen our thought.',
            'Health and transportation topics show a high score. Considering that COVID-19 topic has a score higher than in most of the other countries, we can think that in Norway people started to discuss the pandemic.',
            'As happened in France, the situation in Sweden is quite complicated (two pandemic-related topics and two completely unrelated in the top four). So a deeper analysis is needed.',
            'The top three topics discussed might be strongly related to the pandemics (health and transportation for sure, government in some way too). So, in this country people reacted faster at the event of the pandemic.',
            'The situation is like the one observed in Sweden. It could be interesting to investigate if geographical closeness has been a cause of the similarity of public talking or decisions taken by governments.',
            ' In Korea we can see that the most discussed topic (cooking) is unrelated with pandemics. Furthermore, Korea is the country with the health topic in the lowest position in the ranking.',
            'Transportation and health seem to be the most discussed topics in Canada, and this can signify that people there started to worry about the virus.',
            'In Japan Transportation and health are in the top three discussed topics.'
        ];

        var allLabels = [
            ['sports', 'fun', 'transportation', 'health', 'cooking', 'technology', 'government', 'covid', 'business & economics', 'environment', 'literacy'],
            ['sports', 'government', 'fun', 'transportation', 'health', 'technology', 'cooking', 'covid', 'business & economics','literacy', 'environment'],
            ['sports', 'transportation', 'government', 'cooking', 'fun','health', 'technology', 'covid', 'business & economics','environment', 'literacy'],
            ['health', 'sports', 'transportation', 'government', 'fun','technology', 'covid', 'cooking', 'environment','business & economics', 'literacy'],
            ['sports', 'transportation', 'health', 'cooking', 'fun','government', 'technology', 'covid', 'business & economics','literacy', 'environment'],
            ['transportation', 'sports', 'health', 'government', 'technology', 'covid', 'fun', 'cooking', 'business & economics', 'environment','literacy'],
            ['sports', 'fun', 'transportation', 'health', 'cooking','government', 'technology', 'business & economics', 'covid','environment', 'literacy'],
            ['government', 'transportation', 'health', 'sports', 'fun', 'technology', 'cooking', 'covid', 'environment', 'business & economics', 'literacy'],
            ['sports', 'transportation', 'government', 'fun', 'health','cooking', 'technology', 'covid', 'business & economics','literacy', 'environment'],
            ['cooking', 'transportation', 'government', 'fun', 'sports', 'health', 'literacy', 'technology', 'environment', 'covid', 'business & economics'],
            ['transportation', 'health', 'sports', 'fun', 'cooking', 'government', 'technology', 'covid', 'business & economics','environment', 'literacy'],
            ['transportation', 'sports', 'health', 'cooking', 'fun','government', 'technology', 'covid', 'business & economics','literacy', 'environment']
        ];
        var allData = [
        [0.0762565 , 0.05285962, 0.05199307, 0.04332756, 0.03986135, 0.03119584, 0.02426343, 0.01733102, 0.00693241, 0.00693241, 0.0034662 ],
        [0.21984436, 0.11673152, 0.08949416, 0.08949416, 0.08560311, 0.06420233, 0.06225681, 0.04669261, 0.03501946, 0.0077821 ,0.00389105],
        [0.09527825, 0.09443508, 0.07082631, 0.06323777, 0.06070826,0.05649241, 0.05059022, 0.02698145, 0.02360877, 0.01517707,0.01096121],
        [0.09213863, 0.08537616, 0.07607777, 0.06762468, 0.0591716 ,0.05579036, 0.05156382, 0.03888419, 0.01437025, 0.00845309,0.00845309],
        [0.11824324, 0.08783784, 0.05489865, 0.05236486, 0.04983108,0.0464527 , 0.03969595, 0.02702703, 0.02027027, 0.0152027 , 0.00844595],
        [0.14860681, 0.13312693, 0.10681115, 0.07120743, 0.06811146, 0.06811146, 0.05882353, 0.04643963, 0.03095975, 0.00928793, 0.00619195],
        [0.17281879, 0.10822148, 0.10067114, 0.09312081, 0.06543624, 0.05536913, 0.02852349, 0.02516779, 0.0192953 , 0.00838926, 0.00587248],
        [0.11261261, 0.09009009, 0.06756757, 0.06306306, 0.04954955, 0.04054054, 0.03153153, 0.02702703, 0.02252252, 0.00900901, 0.00900901],
        [0.22931206, 0.1335992 , 0.11266201, 0.09870389, 0.09870389, 0.09571286, 0.06580259, 0.04187438, 0.03988036, 0.03888335, 0.01395813],
        [0.08161435, 0.07085202, 0.06726457, 0.06278027, 0.05112108, 0.03946188, 0.03318386, 0.02511211, 0.02331839, 0.0161435 , 0.00807175],
        [0.12027491, 0.09621993, 0.08505155, 0.06099656, 0.05068729,0.04381443, 0.03264605, 0.0266323 , 0.02061856, 0.01546392, 0.01460481],
        [0.10517388, 0.09245123, 0.06785411, 0.06276506, 0.06191688, 0.05428329, 0.03986429, 0.03053435, 0.02459712, 0.01696353,0.01611535]
        ];
        var allColor = [
         ['#bc80bd', '#ccebc5', '#d9d9d9', '#80b1d3', '#b3de69', '#fdb462', '#bebada', '#8dd3c7', '#fccde5', '#fb8072', ' #ffffb3'],
         ['#bc80bd', '#bebada', '#ccebc5', '#d9d9d9', '#80b1d3', '#fdb462','#b3de69', '#8dd3c7', '#fccde5', ' #ffffb3', '#fb8072'],
         ['#bc80bd', '#d9d9d9', '#bebada', '#b3de69', '#ccebc5', '#80b1d3','#fdb462', '#8dd3c7', '#fccde5', '#fb8072', ' #ffffb3'],
         ['#80b1d3', '#bc80bd', '#d9d9d9', '#bebada', '#ccebc5', '#fdb462','#8dd3c7', '#b3de69', '#fb8072', '#fccde5', ' #ffffb3'],
         ['#bc80bd', '#d9d9d9', '#80b1d3', '#b3de69', '#ccebc5', '#bebada','#fdb462', '#8dd3c7', '#fccde5', ' #ffffb3', '#fb8072'],
         ['#d9d9d9', '#bc80bd', '#80b1d3', '#bebada', '#fdb462', '#8dd3c7','#ccebc5', '#b3de69', '#fccde5', '#fb8072', ' #ffffb3'],
         ['#bc80bd', '#ccebc5', '#d9d9d9', '#80b1d3', '#b3de69', '#bebada', '#fdb462', '#fccde5', '#8dd3c7', '#fb8072', ' #ffffb3'],
         ['#bebada', '#d9d9d9', '#80b1d3', '#bc80bd', '#ccebc5', '#fdb462', '#b3de69', '#8dd3c7', '#fb8072', '#fccde5', ' #ffffb3'],
         ['#bc80bd', '#d9d9d9', '#bebada', '#ccebc5', '#80b1d3', '#b3de69','#fdb462', '#8dd3c7', '#fccde5', ' #ffffb3', '#fb8072'],
         ['#b3de69', '#d9d9d9', '#bebada', '#ccebc5', '#bc80bd', '#80b1d3',' #ffffb3', '#fdb462', '#fb8072', '#8dd3c7', '#fccde5'],
         ['#d9d9d9', '#80b1d3', '#bc80bd', '#ccebc5', '#b3de69', '#bebada','#fdb462', '#8dd3c7', '#fccde5', '#fb8072', ' #ffffb3'],
         ['#d9d9d9', '#bc80bd', '#80b1d3', '#b3de69', '#ccebc5', '#bebada', '#fdb462', '#8dd3c7', '#fccde5', ' #ffffb3', '#fb8072']
        ];

        function changePlot(id){

            var id = $('input[name=country]:checked').attr('id');
            var ctx = document.getElementById("{{ site.data.index.part1.plot1 }}");
            var textElem = document.getElementById("countryText");
            textElem.innerHTML = '';
            textElem.insertAdjacentText('beforeend', countryText[id]);       

            var currLabels = allLabels[id];
            var currData = allData[id];
            var currColors = allColor[id];
            var currTitle =  'Most discussed topics on Twitter in '+ countires[id];
            
            var data = {
                labels: currLabels,
                datasets: [
                    {
                    data: currData,
                    backgroundColor: currColors,
                    },
                
                ]
            };
            var config = {
                    type: 'horizontalBar',
                    data: data,
                    options: {
                        legend: { display: false },
                        responsive: true, 
                        title: {
                            display: true,
                            text: currTitle
                        }, 
                        scales: {
                            xAxes: [ {
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Intensity of the topic',
                                    }
                                }
                            ]}
                    }
            }; 
            
            if(myChart!=null){
                myChart.destroy();
            }
            myChart = new Chart(ctx, config);

       }
       
        var ctxFirst = document.getElementById("{{ site.data.index.part1.plot1 }}");
        var textElem = document.getElementById("countryText");
        textElem.insertAdjacentText('beforeend', countryText[0]);        
        
        var dataFirst = {
            labels: ['sports', 'fun', 'transportation', 'health', 'cooking',
                'technology', 'government', 'covid', 'business & economics',
                'environment', 'literacy'],
            datasets: [
                {
                data: [0.0762565, 0.05285962, 0.05199307, 0.04332756, 0.03986135, 
                    0.03119584, 0.02426343, 0.01733102, 0.00693241, 0.00693241, 0.0034662], 
                backgroundColor: ['#bc80bd', '#ccebc5', '#d9d9d9', '#80b1d3', '#b3de69', '#fdb462',
                '#bebada', '#8dd3c7', '#fccde5', '#fb8072', ' #ffffb3'],
                },
            
            ]
        };
        var configFirst = {
                type: 'horizontalBar',
                data: dataFirst,

                options: {
                    indexAxis: 'y',

                    legend: {
                        display: false
                    },

                    title: {
                        display: true,
                        text: 'Most discussed topics on Twitter in France'
                    }, 
                    responsive: true, 
                    
                    scales: {
                        xAxes: [ {
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Intensity of the topic',
                                }
                            }
                        ]}
                }
        }; 

        myChart = new Chart(ctxFirst, configFirst);

   </script>

    <!-- Again text descrition -->

    <div class="row m-t-lg" style="padding-top: 10px;">
        <div class="col-xs-12" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                 the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                  also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                   1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                   desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>

    <!-- Charts comparison wiki/twitter -->
    <div class="row m-t-lg " >
        <div class="col-lg-12 text-center" style="padding-bottom:20px;">
            {% for country in site.data.index.part1.countires %}
                {% assign loopindex = forloop.index0  %}
                    <button class="btn btn-secondary" style="border-color: lightgrey;border-width: 2px;margin-top: 2px;" 
                                    onclick="changePlot2({{loopindex}})">
                        {{country}}</button>
            {% endfor %}
        </div>

        <div class="col-12 col-md-8 col-md-offset-2">
            <canvas id="{{ site.data.index.part1.plotID1 }}" height="500" width="800"></canvas>
        </div>

        <script>
            var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                             'Finland', 'Korea', 'Canada', 'Japan'];

            var dataset1 = [
                [0.19047619047619044, 0.0, 0.2857142857142857, 0.047619047619047616, 0.5476190476190476, 0.38095238095238093, 0.4999999999999999, 0.047619047619047616, 0.5595238095238094, 1.0, 0.6666666666666666],
                [0.1981981981981982, 0.018018018018018018, 0.5225225225225225, 0.0, 0.3783783783783784, 0.27927927927927926, 0.2702702702702703, 0.14414414414414414, 0.3873873873873874, 1.0, 0.39639639639639634],
                [0.17117117117117112, 0.0, 0.6396396396396395, 0.045045045045045036, 0.4864864864864864, 0.4234234234234234, 0.5585585585585585, 0.13513513513513511, 1.0, 0.9009009009009009, 0.5315315315315315],
                [0.5151515151515152, 0.0, 0.7070707070707071, 0.0707070707070707, 1.0, 0.5656565656565656, 0.3636363636363636, 0.0, 0.9090909090909091, 0.9191919191919192, 0.6060606060606061],
                [0.16923076923076924, 0.06153846153846154, 0.3461538461538462, 0.0, 0.4230769230769231, 0.28461538461538455, 0.4, 0.10769230769230767, 0.29230769230769227, 1.0, 0.3769230769230769],
                [0.4878048780487805, 0.0, 0.5121951219512195, 0.024390243902439022, 0.7926829268292682, 0.4878048780487805, 0.31707317073170727, 0.19512195121951217, 0.4390243902439024, 1.0, 0.4146341463414634],
                [0.08040201005025129, 0.0, 0.29648241206030157, 0.015075376884422119, 0.5226130653266333, 0.13567839195979903, 0.35678391959799005, 0.11557788944723621, 0.2763819095477388, 1.0, 0.6130653266331659],
                [0.17391304347826086, 0.0, 1.0, 0.13043478260869565, 0.5652173913043478, 0.30434782608695654, 0.21739130434782608, 0.0, 0.6086956521739131, 0.5217391304347826, 0.391304347826087],
                [0.12962962962962962, 0.11574074074074074, 0.45833333333333326, 0.0, 0.39351851851851843, 0.24074074074074076, 0.37962962962962965, 0.12037037037037038, 0.25462962962962965, 1.0, 0.39351851851851843],
                [0.10975609756097562, 0.3414634146341463, 0.8048780487804877, 0.20731707317073172, 0.4268292682926829, 0.23170731707317074, 1.0, 0.0, 0.36585365853658536, 0.5853658536585367, 0.7439024390243901],
                [0.125, 0.0, 0.30357142857142855, 0.008928571428571438, 0.8482142857142856, 0.18749999999999997, 0.3749999999999999, 0.062499999999999986, 1.0, 0.732142857142857, 0.4821428571428571],
                [0.1888888888888889, 0.011111111111111118, 0.4999999999999999, 0.0, 0.6777777777777778, 0.31111111111111106, 0.611111111111111, 0.11111111111111113, 0.6333333333333333, 1.0, 0.6]
            ];
            var dataset2 = [
                [0.0, 0.902216462704348, 0.821516636116732, 0.14688493726580973, 0.7922442118063474, 0.4975589478515448, 0.2755589463733884, 0.5290867924999328, 0.3578544017568382, 1.0, 0.21207344203750395],
                [0.0, 0.7242560951973978, 0.9555688656312828, 0.17867025338181003, 0.7696002540589894, 0.3857224919263883, 0.3246829516610741, 0.5463716033037009, 0.3882665844711113, 1.0, 0.12596118595109831],
                [0.0, 0.5291538607497084, 0.7297371619706432, 0.03163842337298482, 1.0, 0.5658623950539489, 0.2377690926266029, 0.6288503766227986, 0.49588052343014294, 0.5667572475438407, 0.12172043590091969],
                [0.0, 0.7135143895801487, 0.5284629453978243, 0.05942465426266335, 0.6272496334502358, 0.2396432729552426, 0.15736107746972444, 0.28772591745998144, 0.20488151503617325, 1.0, 0.19304255980307747],
                [0.0, 0.4866062219580838, 0.5911183250089406, 0.13152252596225777, 1.0, 0.3816810378338035, 0.31529885750517, 0.40640439790539734, 0.2901022941462041, 0.9680573096000318, 0.12187152850363066],
                [0.0, 0.5505601492995275, 0.7654109089302856, 0.18222934925188536, 0.7052793568635741, 0.36208842652590695, 0.2520131536291191, 0.40932901189237625, 0.36408324111226886, 1.0, 0.07060728655523364],
                [0.0, 0.7194133669822108, 0.7070903467848246, 0.21583790508656645, 1.0, 0.4054229799954027, 0.4049890435893311, 0.49404691477985463, 0.3611340634598143, 0.9944974542504974, 0.14900782987629588],
                [0.0, 0.45301217354254797, 0.5141432899364116, 0.16052264569566227, 1.0, 0.27282673406717534, 0.16936029243585626, 0.1956725834779026, 0.14816579402164534, 0.7200729273063715, 0.0718406630836063],
                [0.0, 0.5670220057532739, 0.6739231650621886, 0.137967366959869, 1.0, 0.40567980019316047, 0.27566905174830986, 0.4850149197414835, 0.34285591891414746, 0.8093059723967474, 0.11936182623174409],
                [0.0, 0.768211284052302, 0.7211225186089313, 0.12812291265215114, 0.9848305373884545, 1.0, 0.36982758206430594, 0.8074191850993998, 0.4836760388084517, 0.8906866443375508, 0.11047746505269126],
                [0.0, 0.5891844168489195, 1.0, 0.04425038031461523, 0.47095577356715496, 0.37366649850780564, 0.1345790388539795, 0.4391621427664536, 0.28123449163688097, 0.8122633244182016, 0.31858090734375927],
                [0.0, 1.0, 0.1202641818749619, 0.02116764399242534, 0.22054914003755433, 0.1540898478930347, 0.08739525271823992, 0.2011309137012351, 0.2900123987249296, 0.3940147262482821, 0.07200477743482116]
            ];

            var myChart2 = null;
            var allLabels = ['covid', 'literacy', 'government', 'environment', 'health', 'technology', 'cooking', 'business & economics', 'transportation', 'sports', 'fun'];
            
            function changePlot2(id){
                var ctx = document.getElementById("{{ site.data.index.part1.plotID1 }}");

                var titleText = 'Twitter vs. Wikipedia in ' + countires[id];
                var currData1 = dataset1[id];
                var currData2 = dataset2[id];

                var data = {
                    labels: allLabels,
                    datasets: [
                            {
                                label: 'Twitter',
                                data: currData1,
                                backgroundColor: '#80b1d3',
                            },
                            {
                                label: 'Wikipedia',
                                data: currData2,
                                backgroundColor: '#fb8072'
                            }
                        ]
                };

                var config = {
                    type: 'horizontalBar',
                    data: data,

                    options: {
                        legend: {
                            display: true,
                            position: 'right'
                        },
                        title: {
                            display: true,
                            text: titleText
                        }, 
                        responsive: true, 
                        scales: {
                            xAxes: [ {
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Intensity of topic after min-max scaling',
                                    }
                                }
                            ]}
                    }
                }; 

                if(myChart2 != null){
                    myChart2.destroy();
                }

                myChart2 = new Chart(ctx, config);
            }

            var ctx = document.getElementById("{{ site.data.index.part1.plotID1 }}");
            
            var data = {
                labels: allLabels,
                datasets: [
                        {
                            label: 'Twitter',
                            data: [0.19047619047619044, 0.0, 0.2857142857142857, 0.047619047619047616, 
                                0.5476190476190476, 0.38095238095238093, 0.4999999999999999, 0.047619047619047616,
                                0.5595238095238094, 1.0, 0.6666666666666666],
                            backgroundColor: '#80b1d3',
                        },
                        {
                            label: 'Wikipedia',
                            data: [0.0, 0.902216462704348, 0.821516636116732, 0.14688493726580973, 0.7922442118063474,
                             0.4975589478515448, 0.2755589463733884, 0.5290867924999328, 0.3578544017568382, 
                             1.0, 0.21207344203750395],
                             backgroundColor: '#fb8072'
                        }
                    ]
            };

            var config = {
                    type: 'horizontalBar',
                    data: data,

                    options: {
                        legend: {
                            display: true,
                            position: 'right'
                        },
                        title: {
                            display: true,
                            text: 'Twitter vs. Wikipedia in France'
                        }, 
                        responsive: true, 
                        scales: {
                            xAxes: [ {
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Intensity of topic after min-max scaling',
                                    }
                                }
                            ]}
                    }
            }; 

            myChart2 = new Chart(ctx, config);
        </script>

    </div>

    <!-- Concludions from this part -->

    <div class="row features-block">

        <div class="col-md-4 m-t-sm">
            <div style="background-color: #e6e6e8;" class="vertical-timeline-content wow rotateInUpLeft">
                <h2><span>Covid attention is higher on Twitter than on Wikipedia</span></h2>
                <p><span style="color: grey; text-align: justify;">Wikipedia Covid related pages received very few visits during the period preceding the pandemic. 
                    Most of these pages were being created in that same period but the small number of visits suggests that 
                    people started discussing about virus and infection before even finding information about it (maybe
                     they were led by an irrational fear). Therefore, combining Twitter and Wikipedia data for later 
                     analysys might generate interesting insights and analyzing the words and vocabulary used by 
                     influential users might offer important things to notice(fear spread among users, people not 
                     woeeying enough about the threat ect...).</span></p>
            </div>
        </div>

        <div class="col-md-4 m-t-sm" >
            <div style="background-color: #e6e6e8;" class="vertical-timeline-content wow  rotateInUpRight ">
                <h2><span>Conclusion 2</span></h2>
                <p><span>Description of conclusion</span></p>
            </div>
        </div>

        <div class="col-md-4 m-t-sm" >
            <div style="background-color:#e6e6e8;" class="vertical-timeline-content wow  rotateInUpRight ">
                <h2><span>Conclusion 3</span></h2>
                <p><span>Description of conclusion </span></p>
            </div>
        </div>

    </div>


</div>
