<div class="container" id="i18_projects">


    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">How was it handled?</span></h1>
        </div>
    </div>

     <!-- Intro to task  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>Now we know that influential people talked about COVID-19 and that the general population did express interest in this topic. However, we notice there exists a difference between the levels of attention on COVID-19 between countries. Hence, we would like to examine: did higher attention manage to raise awareness about the issue and prevent even more extensive spread, or maybe it was just a mirror of the current situation in a country? </h2>
            <h2>The idea is to quantify the overall interest in COVID-19 (Wikipedia) and its presence in social media (Twitter) in the period that preceded the official lockdowns through a measure we call the <span style="font-weight: 550;">attention score</span> . To determine the key topics talked about by influential people on Twitter, we utilize the Latent Dirichlet Allocation (LDA). Thus, we can recognize a topic that is related to the pandemic, and compute the percentage of tokens associated with this topic. which we are used to quantify the presence of COVID-19 on social media. Then we compare the number of virus infections between similar countries with different attention scores and try to draw conclusions based on the results we get.</h2>
             <h2>The period we take into account when we compute the attention score is the same as in the previous analysis: 3 weeks before the lockdown starts in each country, as during this period COVID-19 spread reached its peak across countries. Furthermore, to compare the number of COVID-19 infections, we use 45 days since the start of the lockdown, comparing the number of new infections per day for each country. We chose this interval as the effects of covid’s spread, people’s behavior, and attention given to COVID-19 during the pre-lockdown term are most visible at the beginning of the lockdown when coronavirus reaches its peak before lockdown mitigates its spread. On the other hand, if it is too long, the influences of various confounders could strongly impact the results, such as the strictness of the government measures, competence of the countries when handling crises situations, etc.</h2>
        </div>
    </div>




    <!-- LDA plots  -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <select  class="dropdown" name="countries" id="countries" style="width: 10%;" onChange="onChangeLDA()">
                {% for country in site.data.index.part1.countires %}
                    {% assign loopindex = forloop.index0  %}
                    <option id={{loopindex}} value="{{loopindex}}">
                       <b> {{country}} </b>
                    </option>
                {% endfor %}
            </select> 
        </div>
        <div class="col-xs-12 m-t-lg">
            <span><p>*<i>
                Each bubble is related to one topic. By cliking on a bubble, on the right side of plot you will see words related to selected topics and its importance, 
                as well as presentence of that topics in analysed text.  
            </i></p></span>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xs-12" id="includedLDA">
            <iframe id="lda" src="" style="transform: scale(0.9, 0.9);" width="1225" height="860" frameBorder="0" ></iframe>
        </div>
    </div>
    
    

    <script>
        var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                             'Finland', 'Korea', 'Canada', 'Japan'];
        var ldaHtml = ["LDA_FR.html", "LDA_DK.html", "LDA_DE.html", "LDA_IT.html", "LDA_NL.html", "LDA_NO.html",
        "LDA_SE.html", "LDA_RS.html", "LDA_FI.html", "LDA_KO.html", "LDA_CA.html", "LDA_JA.html"];
        
        function onChangeLDA(){
            var dropDown = document.getElementById('countries');
            var id = dropDown.value;

            var iframeElem = document.getElementById('lda');
            iframeElem.setAttribute('src','LDA/'+ldaHtml[id]);
        }                     

        var iframeElem = document.getElementById('lda');
        iframeElem.setAttribute('src','LDA/LDA_FR.html');

    </script>

     <!-- LDA concludions  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>When computing the <span style="font-weight: 550;">covid attention score</span> for each country, we rely on two sources:
                <br><br>1.  <span style="font-weight: 550;">Twitter</span> data of influential people - represents the presence of COVID-19 in the media
                <br>2.  <span style="font-weight: 550;">Wikipedia</span> pageviews - represent the people's general interest in COVID-19
            </h2>
            <h2>To compute the COVID-19 attention score, we find the harmonic mean between the score obtained by LDA
                and the average Wikipedia covid pageview score. We use the harmonic mean to evenly weigh the
                 influence of each of the percentage scores applied.  From the results, we can divide the countries 
                 into two groups based on the attention score. Countries with a score less than 1 (low score) and more
                  than 1 (high score).   </h2>
        </div>
    </div>

    <!-- bubble plot  -->
    <div class="row">
        <div class="col-12 col-md-8 col-md-offset-2">
            <canvas id="{{ site.data.index.part3.bubblePlot }}" height="400" width="800"></canvas>
        </div>

        <script>
            var ctx = document.getElementById("{{ site.data.index.part3.bubblePlot }}");
            
            var data1 = {
                datasets: [
                    {
                    data: [{x: 20,y: 30, r: 15}, { x: 40,y: 10,r: 10 }, { x: 10,y: 20,r: 10 }, { x: 15,y: 15,r: 10 }],
                    backgroundColor: '#fb8072',
                    },
                
                ]
            };



            var data = {
                labels: ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                        'Finland', 'Korea', 'Canada', 'Japan'],
                datasets: [{
                    type: 'bar',
                    label: '',
                    backgroundColor: '#f4f4f4',
                    data: [],
                }, {
                    type: 'bubble',
                    label: 'Low attention',
                    data: [{}, 
                           {x: 0, y: 0.6638651510874868, r: 11},
                           {}, 
                           {}, 
                           {},
                           {x: 0,y: 0.8244653522084111,r: 12}, 
                           {x: 0,y: 0.010648297019484118,r: 4},  
                           {x:0, y: 0.20648010693546406, r: 6},
                           {}, 
                           {x:0, y: 0.4672262029858343, r: 9},
                        
                           {x:0, y: 0.2807447767778885, r: 7}, {}],

                    backgroundColor: '#80b1d3'
                }, 
                {
                    type: 'bubble',
                    label: 'High attention',
                    data: [{x: 0, y: 2.3632367797833127, r: 16 },
                            {}, 
                            {x: 0,y: 17.361740045669258, r: 22},
                            {x: 0,y: 4.959528316860656,r: 18},
                            {x: 0,y: 2.635648160798109,r: 16}, 
                            {}, {}, {}, 
                            {x:0, y: 1.9535294872930062, r: 13}, 
                            {},
                            {}, 
                            {x:0, y:5.805692760968661, r: 18}],

                    backgroundColor: '#fb8072'
                }]
            };
            const configBubble = {
                type: 'bar',
                data: data,
                options: {
                    legend: { 
                        display: true,
                        position:'top' 
                    },
                    title: {
                            display: true,
                            text: 'Attention score by country'
                    }, 
                    scales: {
                        yAxes: [ {
                            scaleLabel: {
                                display: true,
                                labelString: 'Attention score',
                            }
                        },   
                    ],
                    xAxes: [ {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 70,
                            minRotation: 70
                        }
                        },   
                    ],
                }
                }
            };


            var myRadarChart = new Chart(ctx, configBubble);
        </script>

      
    </div>



    <!-- Properties right and on left short text -->
    <div calss="row ">
        <div class="col-md-6 m-t-lg">
            <img src="{{ site.data.index.part3.properties | prepend: site.baseurl }}" 
            style="width: 100%;" alt="">

        </div>
        <div class="col-md-6 m-t-lg" style="text-align: justify;padding-bottom: 10%;">
            <h2>To have meaningful results from comparing two countries in a pair and reduce the influence
                 of confounders on the result, it is essential to make sure that those two selected countries 
                 have similar features.  That's why we describe each country with various features (see the plot) that could 
                 depict the ability and manner in which a country deals with the COVID-19 crisis. On top of these
                 features, we add information about the average change of mobility of people during the 3 weeks 
                  before the lockdown started for each county to see how people responded to the news that virus 
                  is spreading. Note that this is the same period for which we observe the attention and interest 
                  in COVID-19.

             </h2>
        </div>
    </div>

    <div class="row">
        
    </div>

    <!-- Pairs -->
    
    <style>
        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
            padding: 1em;
            margin: 1.5em;
        }

            /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    </style>


<div class="row justify-content-center">
    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Finland</h4></span>
            <span style="color: grey;">&#8597</span>
            <span><h4>Sweden</h4></span>
            pval=2.541
            <br/>
            CI-95%: [-3e-05, -1e-05]
    </div>
    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Netherlands</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Sweden</h4></span>
        pval=0.003
        <br/>
        CI-95%: [0.0, 2e-05]
    </div>
    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>France</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Canada</h4></span>
        pval=0.004
        <br/>
        CI-95%: [-0.0, 2e-05]
    </div>

    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>France</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Denmark</h4></span>
        pval=0.012
        <br/>
        CI-95%: [-0.0, 2e-05]
    </div>

    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Germany</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Canada</h4></span>
        pval=0.102
        <br/>
        CI-95%: [-0.0, 2e-05]
    </div>
</div>

<div class="row">
    <div class="card text-center col-xs-2  wow rotateInUpRight">
        <span><h4>Germany</h4></span>
            <span style="color: grey;margin-left:10px">&#8597</span>
            <span><h4>Denmark</h4></span>
            pval=0.271
            <br/>
            CI-95%: [-1e-05, 1e-05]
    </div>
    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Germany</h4></span>
            <span style="color: grey;margin-left:10px">&#8597</span>
            <span><h4>Norway</h4></span>
            pval=3.277
            <br/>
            CI-95%: [0.0, 2e-05]
    </div>
    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Italy</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Denmark</h4></span>
        pval=5.817
        <br/>
        CI-95%: [2e-05, 5e-05]
    </div>

    <div class="card text-center col-xs-2 wow rotateInUpRight">
        <span><h4>Italy</h4></span>
        <span style="color: grey;">&#8597</span>
        <span><h4>Canada</h4></span>
        pval=1.749
        <br/>
        CI-95%: [3e-05, 5e-05]
    </div>

   
</div>
    


 
    <!-- Conclusions  -->
    <div class="row">
        <div class="col-xs-12 m-b-lg m-t-lg" align="justify">
            <h2>From the results obtained, we can therefore say that the Internet (in our case identifiable with Twitter and Wikipedia) was used as people's reactionary response to the imminent danger of the virus. Indeed, we observed that by comparing countries that are 4ADA-similar, we have a different proportion of infections depending on whether the country had a high or low attention score. Specifically, from the CIs, we can say that most of the countries with high attention score had more cases than the country similar to them (because the values of the CI are all positive). Therefore, by defining this new measure (attention score) and by looking at human traces on the internet, we were able to dive deep into reactions and behavior induced by the pandemic. 
                
                Finally, we can conclude saying that high online interest in COVID-19 (measured in this research by attention score) was not a relevant element in fighting the pandemic, but rather it was an index of reactionary response to the pandemic trend itself.</div>
    </div>


</div>
