<div class="container" id="i18_projects">


    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">How it was handled?</span></h1>
        </div>
    </div>

     <!-- Intro to task  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>Now we know that influential people talked about COVID-19 and that the general population did express interest in this topic. However, we notice there exists a difference between the levels of attention on covid between countries: For some countries, this attention from both the general public and influential people is very high, while for some others, it is significantly lower. Hence, we would like to examine how countries' attention to the COVID-19 affects the percentage of people infected with coronavirus. Did higher attention manage to rise awareness about the issue and prevented even more extensive spread, or maybe it did not seem to affect the situation in the country significantly, or it even had a negative effect? </h2>
            <h2>The initial idea of this part is to quantify the overall interest in  COVID-19 (e.g, on Wikipedia) and its presence in social media (e.g., Twitter) in the period that preceded the official lockdowns (or any other similar measure, e.g., school closure or ban of the public events", for countries that did not impose the official lockdowns) through a measure we call the attention score. Then we compare the number of virus infections between some similar countries with different attention scores and try to draw conclusions based on the results we get.</h2>
            <h2>It is important to note why we focus on the exact period before the lockdowns (or other similar events that countries faced): during this period COVID-19 spread reached its peak across countries (afterward lockdowns mitigated it), so we want to inspect how influential people and general public's attention on  COVID-19 help (or not?) country fight pandemic when, in essence, this was the only way to set people behavior, e.g., staying at home, avoiding social contacts, before this behavior was imposed by governments. 
            </h2>
        </div>
    </div>




    <!-- LDA plots  -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <select  class="dropdown" name="countries" id="countries" style="width: 10%;" onChange="onChangeLDA()">
                {% for country in site.data.index.part1.countires %}
                    {% assign loopindex = forloop.index0  %}
                    <option id={{loopindex}} value="{{loopindex}}">
                       <b> {{country}} </b>
                    </option>
                {% endfor %}
            </select> 
        </div>
        <div class="col-xs-12 m-t-lg">
            <span><p>*<i>
                Each bubble is related to one topic. By cliking on bubble, on the right side of plot you will see words realted to selected topics, 
                as well as presentence of that topics in analysed text.  
            </i></p></span>
        </div>
    </div>

    
    <div class="row">
        <div class="col-xs-12" id="includedLDA">
            <iframe id="lda" src="" style="transform: scale(0.9, 0.9);" width="1225" height="860" frameBorder="0" ></iframe>
        </div>
    </div>
    
    

    <script>
        var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                             'Finland', 'Korea', 'Canada', 'Japan'];
        var ldaHtml = ["LDA_FR.html", "LDA_DK.html", "LDA_DE.html", "LDA_IT.html", "LDA_NL.html", "LDA_NO.html",
        "LDA_SE.html", "LDA_RS.html", "LDA_FI.html", "LDA_KO.html", "LDA_CA.html", "LDA_JA.html"];
        
        function onChangeLDA(){
            var dropDown = document.getElementById('countries');
            var id = dropDown.value;

            var iframeElem = document.getElementById('lda');
            iframeElem.setAttribute('src','LDA/'+ldaHtml[id]);
        }                     

        var iframeElem = document.getElementById('lda');
        iframeElem.setAttribute('src','LDA/LDA_FR.html');

    </script>

     <!-- LDA concludions  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>

    <!-- bubble plot  -->
    <div class="row">
        <div class="col-12 col-md-8 col-md-offset-2">
            <canvas id="{{ site.data.index.part3.bubblePlot }}" height="400" width="800"></canvas>
        </div>

        <script>
            var ctx = document.getElementById("{{ site.data.index.part3.bubblePlot }}");
            
            var data1 = {
                datasets: [
                    {
                    data: [{x: 20,y: 30, r: 15}, { x: 40,y: 10,r: 10 }, { x: 10,y: 20,r: 10 }, { x: 15,y: 15,r: 10 }],
                    backgroundColor: '#fb8072',
                    },
                
                ]
            };



            var data = {
                labels: ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                        'Finland', 'Korea', 'Canada', 'Japan'],
                datasets: [{
                    type: 'bar',
                    label: '',
                    backgroundColor: '#f4f4f4',
                    data: [],
                }, {
                    type: 'bubble',
                    label: 'Low attention',
                    data: [{}, 
                           {x: 0, y: 0.6638651510874868, r: 11},
                           {}, 
                           {}, 
                           {},
                           {x: 0,y: 0.8244653522084111,r: 12}, 
                           {x: 0,y: 0.010648297019484118,r: 4},  
                           {x:0, y: 0.20648010693546406, r: 6},
                           {}, 
                           {x:0, y: 0.4672262029858343, r: 9},
                        
                           {x:0, y: 0.2807447767778885, r: 7}, {}],

                    backgroundColor: '#80b1d3'
                }, 
                {
                    type: 'bubble',
                    label: 'High attention',
                    data: [{x: 0, y: 2.3632367797833127, r: 16 },
                            {}, 
                            {x: 0,y: 17.361740045669258, r: 22},
                            {x: 0,y: 4.959528316860656,r: 18},
                            {x: 0,y: 2.635648160798109,r: 16}, 
                            {}, {}, {}, 
                            {x:0, y: 1.9535294872930062, r: 13}, 
                            {},
                            {}, 
                            {x:0, y:5.805692760968661, r: 18}],

                    backgroundColor: '#fb8072'
                }]
            };
            const configBubble = {
                type: 'bar',
                data: data,
                options: {
                    legend: { 
                        display: true,
                        position:'top' 
                    },
                    title: {
                            display: true,
                            text: 'Attention score by country'
                    }, 
                    scales: {
                        yAxes: [ {
                            scaleLabel: {
                                display: true,
                                labelString: 'Attention score',
                            }
                        },   
                    ],
                    xAxes: [ {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 70,
                            minRotation: 70
                        }
                        },   
                    ],
                }
                }
            };


            var myRadarChart = new Chart(ctx, configBubble);
        </script>

      
    </div>



    <!-- Properties right and on left short text -->
    <div calss="row ">
        <div class="col-md-6 m-t-lg">
            <img src="{{ site.data.index.part3.properties | prepend: site.baseurl }}" 
            style="width: 100%;" alt="">

        </div>
        <div class="col-md-6 m-t-lg" style="text-align: justify;padding-bottom: 10%;">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </h2>
        </div>
    </div>

    <!-- Pairs -->
    <div class="row">

        <div style="background-color: #e6e6e8;" class="col-xs-2 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight text-center">
            <span><h2>Canada Japan</h2></span>
            <p><span style="color: grey;">pi = 0.328476</span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 2</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2  col-md-1 m-t-sm
         vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 3</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2  col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <span><h2>PAIR 4</h2></span>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2  col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 5</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 6</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-2 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 7</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

    </div>

 
    <!-- Conclusions  -->
    <div class="row">
        <div class="col-xs-12 m-b-lg m-t-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>


</div>
