<div class="container" id="i18_projects">


    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Part 3</span></h1>
        </div>
    </div>

     <!-- Intro to task  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>


    <!-- LDA plots - FIX THIS  -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <select  class="dropdown" name="countries" id="countries" style="width: 10%;" onChange="onChangeLDA()">
                {% for country in site.data.index.part1.countires %}
                    {% assign loopindex = forloop.index0  %}
                    <option id={{loopindex}} value="{{loopindex}}">
                       <b> {{country}} </b>
                    </option>
                {% endfor %}
            </select> 

        </div>
    </div>
    
    <div class="row ">
        <div class="col-12 " id="includedLDA">
            <iframe id="lda" src="" style="transform: scale(0.9, 0.9);" width="1225" height="860"frameBorder="0" ></iframe>
        </div>
    </div>

    <script>
        var countires = ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                             'Finland', 'Korea', 'Canada', 'Japan'];
        var ldaHtml = ["LDA_FR.html", "LDA_DK.html", "LDA_DE.html", "LDA_IT.html", "LDA_NL.html", "LDA_NO.html",
        "LDA_SE.html", "LDA_RS.html", "LDA_FI.html", "LDA_KO.html", "LDA_CA.html", "LDA_JA.html"];
        
        function onChangeLDA(){
            var dropDown = document.getElementById('countries');
            var id = dropDown.value;

            var iframeElem = document.getElementById('lda');
            iframeElem.setAttribute('src','LDA/'+ldaHtml[id]);
        }                     

        var iframeElem = document.getElementById('lda');
        iframeElem.setAttribute('src','LDA/LDA_FR.html');

    </script>

     <!-- LDA concludions  -->
     <div class="row">
        <div class="col-xs-12 m-b-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>

    <!-- bubble plot  -->
    <div class="row">
        <div class="col-12 col-md-8 col-md-offset-2">
            <canvas id="{{ site.data.index.part3.bubblePlot }}" height="400" width="800"></canvas>
        </div>

        <script>
            var ctx = document.getElementById("{{ site.data.index.part3.bubblePlot }}");
            
            var data1 = {
                datasets: [
                    {
                    data: [{x: 20,y: 30, r: 15}, { x: 40,y: 10,r: 10 }, { x: 10,y: 20,r: 10 }, { x: 15,y: 15,r: 10 }],
                    backgroundColor: '#fb8072',
                    },
                
                ]
            };
            var data = {
                labels: ['France', 'Denmark', 'Germany', 'Italy', 'Netherlands', 'Norway', 'Sweden', 'Serbia', 
                        'Finland', 'Korea', 'Canada', 'Japan'],
                datasets: [{
                    type: 'bar',
                    label: '',
                    backgroundColor: '#f4f4f4',
                    data: [],
                }, {
                    type: 'bubble',
                    label: 'Low attention',
                    data: [{x: 0, y: 1,r: 4 }, {x: 0,y: 8,r: 8}, {x: 0,y: 15,r: 15}, {x: 0,y: 5,r: 8}, 
                        {x: 0,y: 8,r: 11}, {x: 0,y: 10,r: 15}, {x: 0,y: 15,r: 20}, {}, {}, {}, {x: 0,y: 10,r: 10}, {}],

                    backgroundColor: '#80b1d3'
                }, 
                {
                    type: 'bubble',
                    label: 'High attention',
                    data: [{},{}, {}, {}, {}, {}, {}, {x: 0,y: 30,r: 22}, {x: 0,y: 24,r: 25}, 
                            {x: 0,y: 35,r: 27}, , {x: 0,y: 41,r: 32}],

                    backgroundColor: '#fb8072'
                }]
            };
            const configBubble = {
                type: 'bar',
                data: data,
                options: {
                    legend: { 
                        display: true,
                        position:'top' 
                    },
                    title: {
                            display: true,
                            text: 'Attention score by country'
                    }, 
                    scales: {
                        yAxes: [ {
                            scaleLabel: {
                                display: true,
                                labelString: 'Attention score',
                            }
                        },   
                    ],
                    xAxes: [ {
                        ticks: {
                            autoSkip: false,
                            maxRotation: 70,
                            minRotation: 70
                        }
                        },   
                    ],
                }
                }
            };


            var myRadarChart = new Chart(ctx, configBubble);
        </script>

      
    </div>



    <!-- Properties right and on left short text -->
    <div calss="row ">
        <div class="col-md-6 m-t-lg">
            <img src="{{ site.data.index.part3.properties | prepend: site.baseurl }}" 
            style="width: 100%;" alt="">

        </div>
        <div class="col-md-6 m-t-lg" style="text-align: justify;padding-bottom: 10%;">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </h2>
        </div>
    </div>

    <!-- Pairs -->
    <div class="row">

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 1</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 2</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm
         vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 3</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 4</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 5</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 6</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

        <div style="background-color: #e6e6e8;" class="col-xs-12 col-sm-12 col-md-1 m-t-sm 
        vertical-timeline-content wow rotateInUpRight">
            <h2><span>PAIR 7</span></h2>
            <p><span style="color: grey;">Pair description </span></p>
        </div>

    </div>

 
    <!-- Conclusions  -->
    <div class="row">
        <div class="col-xs-12 m-b-lg m-t-lg" align="justify">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
                also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </h2>
        </div>
    </div>


</div>
