<div class="">
  <div id="inSlider" class="carousel slide" data-ride="carousel">

      <div class="item active">
        <h1 class="carousel-caption" style="text-align: center;width: 100%;">
          <font size="100%">Internet as tool to fight pandemics </font>
        </h1>
        <img src="{{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }}"
         alt="{{ site.data.index.banners[0].title }}" style="width:100%;height: 10; border-radius: 0% 0% 0% 0% ;">
      </div> 

      <!-- <div class="item active img-container">
        <img src="{{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[1].src }}"
         alt="{{ site.data.index.banners[0].title }}" style="width:100%;height: 90%; ">
      </div> -->

      
      <div class="row">
        <div class="css-typing col-12 col-md-8 col-md-offset-2">
          <p>
            that of the #coronavirus is a challenge that has no political color which must call the entire nation we need everyones commitment citizens 
            and institutions scientists doctors health workers law enforcement agents italy all is called to do its part
          </p>
          <p>
            Typed text 2 longer
          </p>
          <p>
            Typed text 3
          </p>
        </div>
    </div>

        <style>
          .css-typing p {
              border-right: .15em solid orange;
              font-family: "Courier";
              font-size: 18px;
              white-space: nowrap;
              overflow: hidden;
            }
            .css-typing p:nth-child(1) {
              width: 50.3em;
              -webkit-animation: type 2s steps(40, end);
              animation: type 2s steps(40, end);
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }

            .css-typing p:nth-child(2) {
              width: 11.5em;
              opacity: 0;
              -webkit-animation: type2 2s steps(40, end);
              animation: type2 2s steps(40, end);
              -webkit-animation-delay: 2s;
              animation-delay: 2s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }

            .css-typing p:nth-child(3) {
              width: 7.3em;
              opacity: 0;
              -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
              animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
              -webkit-animation-delay: 4s;
              animation-delay: 4s;
              -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
            }

            @keyframes type {
              0% {
                width: 0;
              }
              99.9% {
                border-right: .15em solid orange;
              }
              100% {
                border: none;
              }
            }

            @-webkit-keyframes type {
              0% {
                width: 0;
              }
              99.9% {
                border-right: .15em solid orange;
              }
              100% {
                border: none;
              }
            }

            @keyframes type2 {
              0% {
                width: 0;
              }
              1% {
                opacity: 1;
              }
              99.9% {
                border-right: .15em solid orange;
              }
              100% {
                opacity: 1;
                border: none;
              }
            }

            @-webkit-keyframes type2 {
              0% {
                width: 0;
              }
              1% {
                opacity: 1;
              }
              99.9% {
                border-right: .15em solid orange;
              }
              100% {
                opacity: 1;
                border: none;
              }
            }

            @keyframes type3 {
              0% {
                width: 0;
              }
              1% {
                opacity: 1;
              }
              100% {
                opacity: 1;
              }
            }

            @-webkit-keyframes type3 {
              0% {
                width: 0;
              }
              1% {
                opacity: 1;
              }
              100% {
                opacity: 1;
              }
            }

            @keyframes blink {
              50% {
                border-color: transparent;
              }
            }
            @-webkit-keyframes blink {
              50% {
                border-color: tranparent;
              }
            }
        </style>

  </div>
</div>
